<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      {{#each albums}}
        <li>
          <img src={{images.2.url}} alt="">
          <a href=/albums/{{id}}>{{name}}</a>
        </li>
      {{/each}}
    </ul>
  </body>
</html>
